<p>{{ i18n "last_updated" }} {{ .Page.Lastmod.Format "January 2, 2006" }}{{ if eq .Page.Section "docs" }} | <a href="{{ "docs" | relLangURL }}">{{ i18n "see_all_doc" }}</a>{{ end }}</p>


{{ $lang := .Page.Language.Lang }}
{{ $lastmod := .Page.Lastmod }}
{{ if eq $lang "en" }}
    {{ range .Page.Translations }}
        {{ if ne $lang .Language.Lang }}
            {{ if eq .Language.Lang "fr"}}
            <p data-lang="{{ .Language.Lang }}" style="display:none">
                <a href="{{ .Permalink }}">
                    Voir en Fançais
                </a>
            </p>
            {{ end }}
            {{ if eq .Language.Lang "de"}}
            <p data-lang="{{ .Language.Lang }}" style="display:none">
                <a href="{{ .Permalink }}">
                    Sehen Sie auf Deutsch
                </a>
            </p>
            {{ end }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ range .Page.Translations }}
        {{ if eq "en" .Language.Lang }}
            {{ if .Page.Lastmod }}
                {{ if le $lastmod .Page.Lastmod }}
                <p>
                    <i>
                        {{ i18n "old_version" }}
                        ({{ .Page.Lastmod.Format "January 2, 2006" }})
                        <a href="{{ .Page.Permalink }}">{{ i18n "view_in_english" }}</a>
                    </i>
                </p>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

<script src="/js/i18n.js" defer async></script>
